<div class="panel panel-default" id="payment" data-hook>
  <div class="panel-heading">
    <h3 class="panel-title"><%= Spree.t(:payment_information) %></h3>
  </div>
  <div class="panel-body" data-hook="checkout_payment_step">
    <p>
      <%= Spree::Gateway::KhipuGateway::STATE.capitalize %>
    </p>
    <% unless Rails.env.production? %>
      <span><%= @error %></span>
    <% end %>
  </div>
</div>

<div class="well text-right form-buttons" data-hook="buttons">
  <%= link_to Spree.t(:save_and_continue), khipu_url(:payment_method_id => payment_method.id), :method => :get, :id => "khipu_button" , :class => 'continue button primary' %>
  <script>Spree.disableSaveOnClick();</script>
</div>